RewriteEngine on
RewriteCond $1 !^(index.php|images|robots.txt|system|assets)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

#RewriteEngine on
#RewriteCond $1 !^(css|js)
#RewriteRule ^(.*)$ /index.php/$1 [L]